
.product_details{
   width: 900px;
   height: 500px;
   position: fixed;
   top: 10%;
   left: 12%;
   background-color: #ffffff;
   border-radius: 5px;
   box-shadow: #393939 3px 3px 3px;
   padding: 20px 30px;
   
   button{
      padding: 5px 5px;
      font-size: 20px;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      color: #fe5050;
      float: inline-end;
   }
   button:hover{
      color: #2a2a2a;
   }
   
   .container_det{
   width: 100%;
   display: flex;
   align-items: center;
   
   .img_box{
    padding: 20px 20px;
   box-shadow: 0 0 2px 2px #a4a3a3;
    border-radius: 10px;
      img{
         object-fit: contain;
   width: 250px;
   height: 250px;
      }
   }
   
   .info{
      padding: 10px 20px;
   
      h2{
         font-size: 20px;
         font-weight: 400;
         margin-bottom: 20px;
         letter-spacing: 1px;
      }
      p{
         margin: 10px 0;
      }
      h5{
         color: #fe5050;
         font-size: 18px;
         font-weight: 600;
      }
   }
   
   }
   
   
   }



.Product{
    margin-top: 20px;
    padding: 20px 30px ;
    width: 100%;
    margin-bottom: 20px;
 
    .pro_head{
          margin-bottom:20px ;
       h2{
          text-align: center;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 1px;
       }
    }
 
 
 .container_head{
    max-width: 100%;
 
    .box{
        width: 100%;
       
        .header{    
          margin-top: 10px;         
          max-width: 100%;
          padding: 10px 10px; 
          display: flex;
          justify-content: space-between;
 
 
          .heading{
             text-align: center;
             h2{
               width: fit-content; 
                cursor: pointer;
                   margin: 5px auto;
                   border-radius: 5px;
                transition: 0.5s ease-in;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                color: #232323;
               
             }
             h2:hover{
                color: #fe5050;
             }
          }

          .other{
            display: flex;

            h3{
               margin-right: 20px;
                cursor: pointer;
                   border-radius: 5px;
                transition: 0.5s ease-in;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                color: #232323;
            }
            h3:hover{
            
                  color: #fe5050;
               
            }
          }
         
        }
 
        .products{
          max-width: 100%;
         .container{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 2rem;
 
          .box{
            background-color: #ffffff;
             width: 240px;
             height: 350px;
             padding: 10px 10px;
             margin-top: 20px;
             margin-right: 20px;
             border-radius: 5px;
             overflow: hidden; 
             box-shadow: 0 0 3px 3px #878787;
             transition: 0.5s ease-in;
             cursor: pointer;
          
             .img_box{
              
               width: 190px;
               height: 225px;
                 display: flex;
         
 
              img{ 
         
                object-fit: contain;
               
              
               
              }
 
              .icon{
                 margin-left: 10px;
                display: flex;
                flex-direction: column;
                
 
                .icon_box{
                   padding: 5px 8px;
                   margin-bottom: 10px;
                   border-radius: 5px;  
                   box-shadow: 0 0 2px 2px #878787;
                   cursor: pointer;
                   transition: 0.5s ease-in;
                }
                .icon_box:hover{
                   background-color: #fd5b5b;
                   color: #f6f7f8;
                }
              }
             }
 
 
             .info{
                padding: 10px 10px ;
                margin: 0 10px;
                
      

                h3{
                  width: fit-content;
                  margin: 0 auto;
                   text-transform: uppercase;
                   font-size: 14px;
                   color: #232323;
                   font-weight: 300;
                   letter-spacing: 1px;
                }
                p{
                  text-align:  center;
                   margin-bottom: 5px;
                   margin-top: 10px;
                   font-size: 13px;
                   color: #fd5b5b;
                   letter-spacing: 1px;
                   font-weight: 600;
                }
                .btn{
                   
                   border: none;
                   outline: none;
                   background-color: transparent;
                   width: 100%;
                  border-radius: 5px;
                   margin: 5px auto;
                   align-items: center;
                   padding: 5px 10px;
                   transition: 0.5s ease-in-out;
                   cursor: pointer;
                   box-shadow: 0 0 2px 2px #fd6a6a;
                   
                }
                .btn:hover{
                   background-color: #fd5b5b;
                }
             }
            
            
          }
          .box:hover{
             .icon {
                  margin-left: -35px;
              }
           }
 
         }
 
        }
    }
 }
 
 }
 
 @media (min-width:500px) and (max-width:850px) {
    
    .Product{
     
       .pro_head{
          
          h2{  
             font-size: 1.5rem;
           
          }
       }
 
       .container_head{
             
          flex-direction: column;
 
          .left_box{
            width: 100%;     
       
             .left_header{
               
               h3{
                border-bottom: 1px solid #393939;
                   padding: 10px 10px;
                 
       
                }
             }
       
             .left_cate{
               
                padding: 20px 40px;
                max-height: 100%;
       
                ul{      
                   
                   max-width: 100%;
                   display: flex;
                   flex-wrap: wrap;
                   align-items: center;
                  
              li{
                border-radius: 5px;
              }
       
                .sort{
 
                   h5{
                      margin: 10px 10px;
                   }
       
                     }
             }
             }
          }
 
          .right_box{
             width: 100%;
                
             .products{
 
              .container{ 
               gap: 0rem;
      
               .box{
            
                 
      
                  .img_box{
                      display: flex;
                 
 
                 
                  }
          
                  .info{    
                     h3{                
                        font-size: 12px;                    
                     }
                     p{                   
                        font-size: 10px;                     
                     }                 
                  }
                                
               }
                
              }     
             }
         }
 
       }  
    }
 
 }
 
 @media (min-width:300px) and (max-width:500px) {
 
    .Product{
     
       .pro_head{
          
          h2{  
             font-size: 1rem;
           
          }
       }
 
       .container_head{
             
          flex-direction: column;
 
          .left_box{
            width: 100%;     
       
             .left_header{
               
               h3{
                   border-bottom: 1px solid #393939;
                   padding: 10px 10px;
                 
       
                }
             }
       
             .left_cate{
               
                padding: 20px 40px;
                max-height: 100%;
       
                ul{      
                   
                   max-width: 100%;
                   display: flex;
                   flex-wrap: wrap;
                   align-items: center;
            
       
                .sort{
                       
                   h5{
                      margin: 8px 8px;
                   }
       
                     }
             }
             }
          }
 
        .right_box{
             width: 100%;
                
             .products{
 
              .container{ 
               gap: 0rem;
      
              }
             }
          }
       }  
    }

 
 }